<section class="slice--offset-top parallax-section parallax-section-lg" style="background-image: url(<%= asset_path 'soccer/cheering-crowd-event-17598.jpg' %>); background-position: bottom center;">
                        <span class="mask mask-dark--style-1"></span>
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="py-5 text-center">
                                        <h1 class="heading heading-1 c-white strong-400 text-normal">
                                            Parlons de ton expérience lors de l'événementt
                                        </h1>

                                        <span class="clearfix"></span>

                                        <div class="fluid-paragraph fluid-paragraph-sm c-gray-light strong-300 text-center c-white mt-3">
                                            Donnes une note à ton hôte pour l'événement qu'il a organisé. Dis ce que tu en as pensé, comment cela c'est passé, et si tu le recommanderais pour l'avenir !
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
<% if current_user.id == @event.user_id  %>
	
		
		<%= form_tag("/note/#{@event.id}", method: "get") do %>
			<% @participant.each do |p| %>
				<h3><%= p.firstname %></h3>
				<div class="form-group">
					<%= label_tag 'note-'+p.firstname+'', 'Note '+p.firstname+' :' %>
					<%= number_field_tag 'note-'+p.firstname+'', nil, within: 1...6, class: 'form-control' %>
				</div>
				<div class="form-group">
					<%= label_tag 'message-'+p.firstname+'', 'Commentaire' %>
					<%= text_area_tag 'message-'+p.firstname+'', nil, class: 'form-control' %>    
				</div>
			<% end %>
			<%= submit_tag "Envoyer", class: "btn btn-primary" %>
		<% end %>

<% elsif @participant.include?(current_user)	%>
	<%= form_tag("/note/#{@event.id}", method: "get") do %>
				<section class="slice sct-color-1">
                        <div class="container">
                            <div class="section-title section-title--style-1 text-center mb-2">
                                <h3 class="section-title-inner text-normal">
                                    <h3><%= User.find(@event.user_id).firstname %>, balances ton appréciation</h3>
                                </h3>
                                <span class="section-title-delimiter clearfix d-none"></span>
                            </div>

                            <span class="clearfix"></span>

                            <div class="fluid-paragraph fluid-paragraph-sm c-gray-light strong-300 text-center">
                               
                            </div>

                            <span class="space-xs-xl"></span>

		

                            <div class="row justify-content-center">
                                <div class="col-lg-6">
                                    <!-- Contact form -->
                                    <form id="form_contact" data-action="../../php/send-email.php" class="form-default" role="form">
                                    	<p> Note : </p>
										<div class="checkbox checkbox-danger form-check-inline">
										  <input class="form-check-input" type="radio" name="note" id="inlineRadio1" value="1">
										  <label class="form-check-label" for="inlineRadio1">1</label>
										</div>
										<div class="checkbox checkbox-warning form-check-inline">
										  <input class="form-check-input" type="radio" name="note" id="inlineRadio2" value="2">
										  <label class="form-check-label" for="inlineRadio2">2</label>
										</div>
										<div class="checkbox checkbox-primary form-check-inline">
										  <input class="form-check-input" type="radio" name="note" id="inlineRadio3" value="3">
										  <label class="form-check-label" for="inlineRadio3">3</label>
										</div>
										<div class="checkbox checkbox-success form-check-inline">
										  <input class="form-check-input" type="radio" name="note" id="inlineRadio4" value="4">
										  <label class="form-check-label" for="inlineRadio4">4</label>
										</div>
										<div class="checkbox checkbox-success form-check-inline">
										  <input class="form-check-input" type="radio" name="note" id="inlineRadio5" value="5">
										  <label class="form-check-label" for="inlineRadio5">5</label>
										</div>
										<br>
										<br>
										<div class="form-group">
											<%= label_tag 'message', 'Commentaire :' %>
											<%= text_area_tag 'message', nil, class: 'form-control' %>    
										</div>
										<br>
									<%= submit_tag "Envoyer", class: "btn btn-block btn-styled btn-lg btn-base-1 btn-shadow strong-600 mt-4" %>
		<% end %>
	<% end %>
									</form>
                                </div>
                            </div>
                        </div>
                    </section>
