<%= form_with(model: bar, local: true) do |form| %>
<% if bar.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(bar.errors.count, "error") %> prohibited this bar from being saved:</h2>

  <ul>
    <% bar.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="row">
  <div class="col-md-5 mb-3">
    <%= form.label :name, 'Nom du bar'%>
    <%= form.text_field :name, class: 'form-control', value: @bar.name, :required => true  %>
    <div class="invalid-feedback">
      Il te faut un nom valide
    </div>
  </div>

  <div class="col-md-7 mb-3">
   <%= form.label :address, 'Adresse' %>
   <%= form.text_field :address, class: 'form-control', value: @bar.address, placeholder: '12 rue de la coupe du monde', :required => true%>
 </div>
</div>

<div class="field">
  <%= form.label :description %>
  <%= form.text_area :description, value: @bar.description, rows: 3, class: 'form-control' %>
</div>
<br>
<div class="field">
  <%= form.label :images,'Envoie nous des photos du bar' %>
  <%= form.file_field :images, multiple: true, class: 'custom-file' %>


  <div style="width:400px; height:auto">
    <% if @bar.images.attached? %>
    <p>
 
      <% @bar.images.each do |image|  %>
      <%= image_tag(image, style:'width:100%') %>

      <% end %>
    </p>
    <% end %>
  </div>
</div>

<%= form.hidden_field :user_id, :value => current_user.id %>

<div class="row">
  <div class="col-md-4 mb-3">
    <%= form.label :screen, 'Installation télé(s), vidéoproj(s)?' %>
    <%= form.text_field :screen, value: @bar.screen, class: 'form-control' %>
  </div>

  <div class="col-md-4 mb-3">
    <%= form.label :capacity, "A combien estimes-tu la capacité d'accueil du bar?"  %>
    <%= form.number_field :capacity, value: @bar.capacity, class: 'form-control' %>
  </div>


  <div class="col-md-4 mb-3">
    <%= form.label :pint_price, 'Combien coûte la pinte?'  %>
    <%= form.text_field :pint_price, value: @bar.pint_price, class: 'form-control' %>
  </div>
</div>

  <hr class="mb-4">
  <%= form.submit value: "Mets à jour ton bar", class: 'btn btn-primary btn-lg btn-block' %>
<% end %>
