<p id="notice"><%= notice %></p>


<style>
#map {
  height: 500px;
  width: 100%;

}
</style>
<h3>Essai google maps</h3>
<div id="map"></div>

<h1>Bars</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Installation</th>
      <th>Adresse</th>
      <th>Capacity</th>
      <th>Interested people</th>
      <th>Pint price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bars.each do |bar| %>
    <tr>
      <td><%= bar.name %></td>
      <td><%= bar.description %></td>
      <td><%= bar.screen %></td>
      <td><%= bar.address %></td>
      <td><%= bar.capacity %></td>
      <td><%= bar.interested_people %></td>
      <td><%= bar.pint_price %></td>
      <td><%= link_to 'Show', bar %></td>
      <td><%= link_to 'Edit', edit_bar_path(bar) %></td>
      <td><%= link_to 'Destroy', bar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bar', new_bar_path %>


<script>

  var geocoder;
  var map;
  function initMap() {
      var mapOptions = {
      zoom: 14,
    
    };
    map = new google.maps.Map(document.getElementById('map'), mapOptions);
    var addresses = <%= @addresses.inspect.html_safe %>;
    var desc = <%= @description.inspect.html_safe %>;
    var latitude = <%= @latitude.inspect.html_safe %>;
    var longitude = <%= @longitude.inspect.html_safe %>;
    var image = {
    // Adresse de l'icône personnalisée
    url: 'https://s3.eu-west-3.amazonaws.com/rails-chaton/logo-cdm2018.png',
    // Taille de l'icône personnalisée
    size: new google.maps.Size(50, 70),
    // Origine de l'image, souvent (0, 0)
    origin: new google.maps.Point(0,0),
    // L'ancre de l'image. Correspond au point de l'image que l'on raccroche à la carte. Par exemple, si votre îcone est un drapeau, cela correspond à son mâts
    anchor: new google.maps.Point(10, 20)
  };
  

  for (i = 0; i < desc.length; i++) {
    var marker = new google.maps.Marker({
      position: {lat: latitude[i], lng: longitude[i]},
      map: map,
      title: desc[i]
    });
     marker.addListener('click', function() {
         map.setZoom(14);
         map.setCenter(marker.getPosition());
         
       });
      }


  

  var infoWindow = new google.maps.InfoWindow({map: map});


        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            infoWindow.setPosition(pos);
            infoWindow.setContent('Tu es ici');
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
          'Error: The Geolocation service failed.' :
          'Error: Your browser doesn\'t support geolocation.');
      } 

    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZ-esJU3-9I9o8Oq6LdVZiN6CHX1J_MbU&callback=initMap&libraries=places">
  </script>
    

