<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bar.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bar.description %>
</p>

<div style="width:400px; height:auto">
<% if @bar.images.attached? %>
<p>
  <strong>Images:</strong>
  <br>
  <% @bar.images.each do |image|  %>
    <%= image_tag(image, style:'width:100%') %>
  <% end %>
</p>
<% end %>
</div>

  <p>
  <strong>Installation:</strong>
  <%= @bar.screen %>
</p>

<p>
  <strong>Adresse:</strong>
  <%= @bar.address %>
</p>


<p>
  <strong>Capacity:</strong>
  <%= @bar.capacity %>
</p>

<p>
  <strong>Interested people:</strong>
  <%= @bar.interested_people %>
</p>

<p>
  <strong>Pint price:</strong>
  <%= @bar.pint_price %>
</p>

<%= link_to 'Edit', edit_bar_path(@bar) %> |
<%= link_to 'Back', bars_path %>
