  <!-- SHOP GRID WRAPPER -->
  <section class="slice-xl" style="background-image: url(<%= asset_path 'soccer/photo_bar.jpg' %>); background-position: bottom center;">
    <span class="mask mask-dark--style-2"></span>
    <div class="container">
      <p>voila</p>
      <div class="row">
        <div class="col-12">
          <div class="py-5 text-center">
            <h1 class="heading heading-1 c-white strong-400 text-normal">
             <%= @bar.name %>
           </h1>

           <span class="clearfix"></span>
            <div class="fluid-paragraph fluid-paragraph-sm c-gray-light strong-300 text-center c-white mt-3">
                          <%= @bar.address %>
                        </div>


         </div>
       </div>
     </div>
   </div>
 </section>

 <section class="slice sct-color-1">
  <div class="container">
    <!-- Product gallery and Description -->
    <div class="row cols-xs-space cols-sm-space cols-md-space">
      <div class="col-lg-6">
        <div style="width:400px; height:auto">
          <% if @bar.images.attached? %>
          <% @bar.images.each do |image|  %>
          <div class="block-image mt-1">
            <%= image_tag(image, style:'width:100%') %>
          </div> 
          <% end %>      
          <% end %>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="px-2">
          <!-- Product description -->
          <div class="product-description-wrapper px-1">
            <!-- Product title -->
            <h2 class="product-title">
               <%= @bar.name %>
            </h2>

            <hr>



            <!-- Product description -->
            <div class="product-short-text mt-3">
              <h3 class="heading heading-xs strong-500 text-uppercase">
                Description:
              </h3>
              <p>
                <%= @bar.description %>
              </p>
            </div>

            <hr>

            <table class="table table-specs">
              <tbody>
                <tr>
                  <td>
                    <span class="c-gray-light strong-600">Installation :</span>
                  </td>
                  <td>
                    <%= @bar.screen %>
                  </td>
                </tr>
                 <tr>
                  <td>
                    <span class="c-gray-light strong-600">Adresse :</span>
                  </td>
                  <td>
                     <%= @bar.address %>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span class="c-gray-light strong-600">Capacité :</span>
                  </td>
                  <td>
                   <%= @bar.capacity %>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span class="c-gray-light strong-600">Personnes intéressées :</span>
                  </td>
                  <td>
                    <%= @bar.interested_people %>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span class="c-gray-light strong-600">Prix ​​de la pinte :</span>
                  </td>
                  <td>
                     <%= @bar.pint_price %>€
                  </td>
                </tr>
              </tbody>
            </table>
      </div>
       <% if current_user != nil && current_user.id == @bar.user_id %>

      <%= link_to 'Modifier', edit_bar_path(@bar) %> |
      <% end %>
      <%= link_to 'Retour', bars_path %>
    </div>
  </div>
</div>
</div>
</section>



