  <style>
  #map {
    position: sticky !important!;
    height: 500px;
    width: 100%;
  }

  .item {
    cursor: pointer;

  }

  .marker{
    transform: translate( 50%, calc(-100% - 10px));
    white-space: nowrap;
    font-size: 16px;
    padding: 5px 10px;
    font-weight: bold;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0, 0.3);
    cursor: pointer;

  }
  .marker::after {
  content: ' ';
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -8px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #FFF;
  }

  .marker.is-active {
    background-color: #5069ff;
    z-index: 300;
    color: #FFF;
  }

  .marker.is-active::after {
    border-top-color: #5069ff;
  }


</style>




  <div id="map"></div>

<section class="slice sct-color-1" id="scrollToSection">
  <div class="container">
    <div class="section-title section-title--style-1 text-center mb-1">
      <h3 class="section-title-inner heading-sm strong-600 text-uppercase">
        <span>Les bars</span>
      </h3>
      <span class="section-title-delimiter clearfix d-none"></span>
    </div>

    <span class="clearfix"></span>

    <div class="fluid-paragraph fluid-paragraph-sm c-gray-light strong-300 text-center">
      Ces bars diffuseront des matchs. Renseignez vous sur leur équipement, la capacité, ou encore le prix de la pinte !
    </div>

    <span class="space-xs-lg"></span>

    <div class="row-wrapper">
      <div class="row cols-md-space">
        <% @bars.each do |bar| %>
        <div class="item col-lg-3 col-md-6 col-sm-12 col-12" data-lat='<%= bar.latitude %>' data-lng='<%= bar.longitude %>' data-nom= '<%= bar.name %>'>
          <div class="block block--style-3">
            <div class="block-image relative">
              <div class="view view-first">
                <a href="#">
                  <img src="<%= image_path 'prv/real-estate/img-1.jpg' %>" width="300" height="190" class="img-responsive">
                </a>
              </div>

              <span class="block-price-over bg-base-4"><%= bar.name %> </span>

            </div>

            <div class="block-body text-center mt-1">
              <h3 class="heading heading-5 strong-400 text-normal mb-1">
                <strong>1.5 km</strong>
                <span class="heading-6">de vous</span>
              </h3>
              <span class="star-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
              </span>
              <span class="clearfix"></span>
            </div>

            <div class="aux-info-wrapper border-top">
              <ul class="aux-info">
                <li class="heading strong-400 text-center">
                </i> <%= bar.pint_price %>
              </li>
              <li class="heading strong-400 text-center">
                <%= bar.capacity %> personnes
              </li>
              <li class="heading strong-400 text-center">
              </i> <%= bar.screen %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
</div>
</section>
<script src='assets/script.js'></script>
<script src='assets/app.js'></script>

