<section class="slice sct-color-1">
  <div class="container">
    <div class="section-title section-title--style-1 text-center mb-3">
      <h3 class="section-title-inner text-normal">
        Devenez hôte du The football project
      </h3>
      <span class="section-title-delimiter clearfix d-none"></span>
    </div>
    <section class="slice-xl slice--offset-top sct-color-2">
                        <div class="container">
                            <div class="mt-5 text-left">
                                <h3 class="heading heading-1 strong-500 text-normal">
                                   Créez ton évenment
                                    <span id="type_1" class="type-this c-base-1" data-type-this="De Chez toi., Dans un bar., Partage ta passion."></span>
                                </h3>
                            </div>
                            <span class="clearfix"></span>
                        </div>
                    </section>






    <span class="clearfix"></span>

    <div class="fluid-paragraph fluid-paragraph-sm c-gray-light strong-300 text-center">
      Un Concept Révolutionnaire, de chez vous. Créez un évenement qui vous booste Votre soirée Et Fait Exploser votre talent de hôte»
    </div>

    <span class="space-xs-xl"></span>

    <div class="row justify-content-center">
      <div class="col-lg-10">
        <!-- Contact form -->
        <%= form_tag("/contact", method: "get") do %>
        <form id="form_contact" data-action="../../php/send-email.php" class="form-default" role="form">
          <div class="form-group has-feedback">Donne un nom à ton évenement
            <%= text_field_tag 'titre', nil, placeholder: "Le titre de ton évenement ", class: 'form-control form-control-lg' %>
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            <div class="help-block with-errors"></div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-4">
              <div class="form-group">
                <label class="control-label">Choisis ton match</label>
                <select class="form-control form-control-lg">
                  <option value="">France</option>
                  <option value="">Allemagne</option>
                   <option value="">Argentine</option>
                </select>
              </div>
            </div>
             <div class="col-md-6 col-lg-4">
              <div class="form-group">
                <label class="control-label">Apéro </label>
                <select class="form-control form-control-lg">
                  <option value="">1 packs</option>
                  <option value="">2 packs</option>
                  <option value="">3 packs</option>
                  <option value="">4 packs</option>
                </select>
              </div>
            </div>
             <div class="col-md-6 col-lg-4">
              <div class="form-group">
                <label class="control-label">Combiend de supporter</label>
                <select class="form-control form-control-lg">
                  <option value="">2 </option>
                  <option value="">4</option>
                  <option value="">6</option>
                  <option value="">+</option>
                </select>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="form-group">
                <label class="control-label">Apéro </label>
                <select class="form-control form-control-lg">
                  <option value="">1 packs</option>
                  <option value="">2 packs</option>
                  <option value="">3 packs</option>
                  <option value="">4 packs</option>
                </select>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="form-group">
                <label class="control-label">Apéro </label>
                <select class="form-control form-control-lg">
                  <option value="">1 packs</option>
                  <option value="">2 packs</option>
                  <option value="">3 packs</option>
                  <option value="">4 packs</option>
                </select>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="form-group">
                <label class="control-label">Apéro </label>
                <select class="form-control form-control-lg">
                  <option value="">1 packs</option>
                  <option value="">2 packs</option>
                  <option value="">3 packs</option>
                  <option value="">4 packs</option>
                </select>
              </div>
            </div>
          </div>




          <div class="form-group has-feedback">
            <%= text_field_tag 'nom', nil, placeholder: "Entrez votre nom ", class: 'form-control form-control-lg' %>
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            <div class="help-block with-errors"></div>
          </div>

          <div class="form-group has-feedback">
            <%= email_field_tag 'email', nil, placeholder: "Adresse e-email ", class: 'form-control form-control-lg' %>
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            <div class="help-block with-errors"></div>
          </div>

          <div class="form-group has-feedback">
            <%= text_area_tag 'Description', nil, placeholder: "Message... ", class: 'form-control form-control-lg' %>
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            <div class="help-block with-errors"></div>
          </div>

          <div class="">
            <button type="reset" class="btn-reset d-none"></button>
            <%= submit_tag "Envoyer", class:"btn btn-styled btn-lg btn-block btn-base-1 mt-4" %>

          </div>
          <% end %>
        </form>
      </div>
       <footer class="footer footer-default" style="z-index: 1000;">
   
</footer>

</section>
