<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
    <%= form.label :Match %>
    <%= form.select :match, options_for_select(@array_games, selected = @array_games[@game_id - 1]) %> <!-- @game_id à modifier-->
  </div>
  

  <br>
  <br>

  <div class="field">
    <%= form.label :images %>
    <%= form.file_field :images, multiple: true %>
  </div>


<div class="field">
    <%= form.label :description, :value => "On ramène des bières? On prépare les cordes vocales? On écrit en avance nos punchlines à la pierre menes?" %>
    <%= form.text_field :description, :value => "Explique comment ça va se passer chez toi!" %>
  </div>

   <br>
   <br>
    


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

