<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
    <%= form.label :Match %>
    <%= form.select :match, options_for_select(@array_games, selected = @array_games[@game_id - 1]) %> <!-- @game_id à modifier-->
  </div>
  

  <br>
  <br>

  <div class="field">
    <p>Quelques images de toi, ta passion pour le foot et ton installation de rêve pour mater le match? </p>
    <%= form.label :images %>
    <%= form.file_field :images, multiple: true, direct_upload: true %>
  </div>
<br> <br>

<div class="field">
  <p> On ramène des bières? On prépare les cordes vocales? On écrit en avance nos punchlines à la pierre menes?</p> <%= form.label :description %>
    <%= form.text_field :description, :value => @event.description %>
  </div>


   <br>
   <br>
    


  <div class="actions">
    <%= form.submit value:"Crée ton event" %>
  </div>
<% end %>

