<%= form_with(model: event, local: true) do |form| %>
 <% if event.errors.any? %>
   <div id="error_explanation">
     <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

     <ul>
     <% event.errors.full_messages.each do |message| %>
       <li><%= message %></li>
     <% end %>
     </ul>
   </div>
 <% end %>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, class: 'form-control', value: @event.address, :required => true  %>
  </div>
  <div class="invalid-feedback">
    Il te faut une adresse valide
  </div>
    <br>

  <div class="row">
    <div class="col-md-5 mb-3">
      <%= form.label :game_id, 'Choisis ta rencontre' %>
      <%= form.select :game_id, options_for_select(@array_games, selected = @array_games[@game_id - 1]),{} ,{:class => 'custom-select d-block w-100', value: @event.game_id} %>
    </div>
    <div class="col-md-7 mb-3">
      <%= form.label :images %>
      <%= form.file_field :images, multiple: true, class: 'custom-file' %>
    </div>
  </div>

  <div style="width:400px; height:auto">
    <% if @event.images.attached? %>
      <p>
        <strong>Images déjà uploadées: (COMMENT RENDRE POSSIBLE LA SUPPRRESSION D'IMAGES?)</strong>
        
         <% @event.images.each do |image|  %>
           <p> <%= image_tag(image, style:'width:100%') %> <br> </p> 
         
      <% end %>
    <% end %>
  </div>
  
  <%= form.hidden_field :user_id, :value => current_user.id %>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= form.label :description, 'On ramène des bières? On prépare les cordes vocales? On écrit en avance nos punchlines à la pierre menes?' %>
        <%= form.text_area :description, :value => @event.description, rows: 3, class: 'form-control' %>
      </div>
    </div>
  </div>


  <div class="col-md-7 mb-3">
    <%= form.label :invited, 'Nombre de personnes que tu peux inviter:' %>
    <%= form.select :invited, 1..10,{} ,{:class => 'custom-select d-block w-100', :required => true} %>

      <div class='check_box form-check-inline'>
        <%= form.label :smoke, 'Fumeur'  %>
        <%= form.check_box :smoke, { :value => @event.smoke}, "true"%>
      </div>
      <div class="check_box form-check-inline">
        <%= form.label :food, 'Nourriture' %>
        <%= form.check_box :food, { :value => @event.food}, "true"%>
      </div>
      <div class="check_box form-check-inline">
        <%= form.label :drink, 'Boisson'  %>
        <%= form.check_box :drink, { :value => @event.drink}, "true" %>
      </div>
  </div>

  <hr class="mb-4">



   <%= form.submit value:"Mets à jour ton evenement", class: 'btn btn-primary btn-lg btn-block' %>
<% end %>