     <%= form_with(model: event, local: true) do |form| %>
     <% if event.errors.any? %>
     <div id="error_explanation">
       <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

       <ul>
         <% event.errors.full_messages.each do |message| %>
         <li><%= message %></li>
         <% end %>
       </ul>
     </div>
     <% end %>

     <div class="field">
      <%= form.label :address, 'Adresse' %>
      <%= form.text_field :address, class: 'form-control', placeholder: '12 rue de la coupe du monde', :required => true  %>
    </div>
    <div class="invalid-feedback">
      Il te faut une adresse valide
    </div>
    <br>

    <div class="row">
      <div class="col-md-5 mb-3">
        <%= form.label :game_id, 'Choisis ta rencontre' %>
        <%= form.select :game_id, options_for_select(@array_games, selected = @array_games[@game_id - 1]),{} ,{:class => 'custom-select d-block w-100', :required => true} %>
      </div>

      <div class="col-md-7 mb-3">

       <%= form.label :images, "Quelques photos de toi et de ton salon" %>
       <%= form.file_field :images, multiple: true, direct_upload: true, class: 'custom-file' %>
     </div>
   </div>
   <%= form.hidden_field :user_id, :value => current_user.id %>


  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= form.label :description, 'On ramène des bières? On prépare les cordes vocales? On écrit en avance nos punchlines à la pierre menes?' %>
        <%= form.text_area :description, rows: 3, class: 'form-control' %>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-7 mb-3">
      <%= form.label :invited, 'Nombre de personnes que tu peux inviter:' %>
      <%= form.select :invited, 1..5,{} ,{:class => 'custom-select d-block w-100', :required => true} %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <%= form.label :smoke, 'Peut-on fumer :' %>
      <div class="form-check">
        <%= form.radio_button :smoke, 'true'%> 
        <label style="display: inline-block;position: relative;top: -5px" for="smoke1">Oui</label>
      </div>
      <div class="form-check">
        <%= form.radio_button :smoke, 'false', :checked => true %> 
        <label style="display: inline-block;position: relative;top: -5px" for="smoke2">Non</label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= form.label :food, 'Apporté à manger :' %>
      <div class="form-check">
        <%= form.radio_button :food, 'true'%> 
        <!-- <input class="form-check-input" type="radio" name="food" id="food1" value="true"> -->
        <label style="display: inline-block;position: relative;top: -5px" for="food1">Oui</label>
      </div>
      <div class="form-check">
        <%= form.radio_button :food, 'false', :checked => true %> 
        <!-- <input class="form-check-input" type="radio" name="food" id="food2" value="false" checked> -->
        <label style="display: inline-block;position: relative;top: -5px" for="food2">Non</label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= form.label :drink, 'Apporté à boire :' %>
      <div class="form-check">
        <%= form.radio_button :drink, 'true'%> 
        <label style="display: inline-block;position: relative;top: -5px" for="drink1">Oui</label>
      </div>
      <div class="form-check">
        <%= form.radio_button :drink, 'false', :checked => true %> 
        <label style="display: inline-block;position: relative;top: -5px" for="drink2">Non</label>
      </div>
    </div>
  </div>
  

  <hr class="mb-4">

  <%= form.submit value:"Crée ton event", class: 'btn btn-primary btn-lg btn-block' %> 

  <% end %>