<p id="notice"><%= notice %></p>

    <div class="text-center">
      <h3 class="heading heading-1 strong-500 text-normal">

        Trouvez un événement près de chez vous.

      </h3>
  </div>


<section class="slice-sm sct-color-1">
  <div class="container">
    <div class="row masonry">
      <% @events.each do |event| %>

      <div class="masonry-item col-md-6 col-lg-4 design">
        <div class="block block--style-3 block--style-3-v2">
          <div class="block-image relative">
            <div class="view view-second view--rounded" style="width: 300px; height: 220px">
              <% if event.images.attached? %>
              <% image = event.images.first %>
              <%= image_tag(image, style:'width:100%') %>
              <% else %>
              <img src="https://s3.eu-west-3.amazonaws.com/rails-chaton/nopic.svg">
              <% end %>
              <div class="mask mask-base-1--style-2">
                <div class="view-buttons text-center">
                  <div class="view-buttons-inner text-center">        
                    <% if event.images.attached? %>
                    <a href="<%= event_path(event.id) %>" class="c-white" data-fancybox></a>
                    <% else %>   
                    <a href="<%= event_path(event.id) %>" class="c-white" data-fancybox></a>
                    <% end %>
                    <i class="icon ion-plus"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pt-4 text-center">
            <h3 class="heading heading-4 strong-500 mb-0">
              <a href="<%= event_path(event.id) %>"><%= event.description %></a>
            </h3>
            <p class="strong-300 c-gray-light">
              <%= Game.find(event.game_id).home_team.name %> VS <%= Game.find(event.game_id).visiting_team.name %>
            </p>
          </div>
        </div>
      </div>

      <% end %>

    </div>
  </div>
</section>

<section>
  <div class="container">
    <%= link_to 'Créer un événement', new_event_path %>
  </div>
</section>





