<p id="notice"><%= notice %></p>

<section class="slice-lg sct-color-1">
  <div class="container">
    <div class="text-center">
      <h3 class="heading heading-1 strong-500 text-normal">
        Trouver un
        <span id="type_1" class="type-this c-base-1" data-type-this="match., écran., évenement."></span>
      </h3>
    </div>
    <span class="clearfix"></span>
  </div>
</section>

<section class="sct-color-1">
  <div class="container">
    <div class="masonry-filter-menu link-menu link-menu--style-3 text-center">
      <a class="btn-filter default" data-filter="*">Show all</a>
      <a class="btn-filter" data-filter="design">Web design</a>
      <a class="btn-filter" data-filter="branding">Branding</a>
      <a class="btn-filter" data-filter="identity">Identity</a>
      <a class="btn-filter" data-filter="graphics">Graphics</a>
    </div>
  </div>

  <div class="container mt-5">
    <span class="delimiter delimiter--style-1"></span>
  </div>
</section>

<section class="slice-sm sct-color-1">
  <div class="container">
    <div class="row masonry">
      <% @events.each do |event| %>

      <div class="masonry-item col-md-6 col-lg-4 design">
        <div class="block block--style-3 block--style-3-v2">
          <div class="block-image relative">
            <div class="view view-second view--rounded">
              <% if event.images.attached? %>
              <%= event.images[0] %>
              <% else %>
              <img src="https://s3.eu-west-3.amazonaws.com/rails-chaton/nopic.svg">
              <% end %>
              <div class="mask mask-base-1--style-2">
                <div class="view-buttons text-center">
                  <div class="view-buttons-inner text-center">        
                                              <% if event.images.attached? %>
                    <a href="<%= event.images %>" class="c-white" data-fancybox>
                      <% else %>   
                      <a href="<%= event_path(event.id) %>" class="c-white" data-fancybox>
                        <%end %>
                        <i class="icon ion-plus"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="pt-4 text-center">
              <h3 class="heading heading-4 strong-500 mb-0">
                <a href="<%= event_path(event.id) %>"><%= event.description %></a>
              </h3>
              <p class="strong-300 c-gray-light">
                <%= Game.find(event.game_id).home_team.name %> VS <%= Game.find(event.game_id).visiting_team.name %>                                            </p>
              </div>
            </div>
          </div>
          <% end %>                               
        </div>
      </div>
    </section>

 




    <%= link_to 'New Event', new_event_path %>
