<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @date %>
</p>

<p>
  <strong>Nombre d'invités:</strong>
  <%= @invited %>
</p>

<div style="width:400px; height:auto">
<% if @event.images.attached? %>
<p>
  <strong>Images:</strong>
  <br>
  <% @event.images.each do |image|  %>
    <%= image_tag(image, style:'width:100%') %>
  <% end %>
</p>
<% end %>
</div>



<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
