<div class="py-5 text-center">
          <h1 class="heading heading-1 c-black strong-400 text-normal">
           Inscris-toi aux événements qui te chauffent !  </h1>
           <h2 class="heading heading-1 c-black strong-400 text-normal">
           <a href="/events"> Clique ici pour voir tous les events </a>  </h2>
         <span class="clearfix"></span>
     </div>

<section class="slice sct-color-1">
    <div class="container">
        <!-- Product gallery and Description -->
        <div class="row cols-xs-space cols-sm-space cols-md-space">
            <div class="col-lg-6">
                <div style="width:400px; height:auto">
                    <% if @event.images.attached? %>
                    <% @event.images.each do |image|  %>
                    <div class="block-image mt-1">
                        <%= image_tag(image, style:'width:100%') %>
                    </div> 
                    <% end %>      
                    <% end %>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="px-2">
                    <!-- Product description -->
                    <div class="product-description-wrapper px-1">
                        <!-- Product title -->
                        <h2 class="product-title">
                            <%= @event.title %>
                        </h2>

                        <hr>



                        <!-- Product description -->
                        <div class="product-short-text mt-3">
                            <h3 class="heading heading-xs strong-500 text-uppercase">
                                Description :
                            </h3>
                            <p>
                                <%= @event.description %>
                            </p>
                        </div>

                        <hr>
                        
                        <h3>Organisé par <%= @organisateur.firstname %></h3>

                        <% if @organisateur.reviews.count >= 1 %>
                        <p>Note moyenne : <%= @notemoyenne %>/5</p>
                        <p>Quelques avis reçus par <%= @organisateur.firstname %>:</p>
                        <ul>
                            <li>Commentaire et note de <%= @firstreviewer %>: "<span><%= @firstreview %></span> -> <%= @firstgrade %>/5 </li>
                            <li>Commentaire et note de <%= @secondreviewer %>: "<span><%= @secondreview %></span> -> <%= @secondgrade %>/5 </li>
                        </ul>

                        <% else %>
                        <p>C'est son premier event !</p>
                        <%end%>

                        

                        <table class="table table-specs">
                            <tbody>
                                <tr>
                                    <td>
                                        <span class="c-gray-light strong-600">Date</span>
                                    </td>
                                    <td>
                                        <%= @date.strftime("%d/%m/%Y à %H:%M") %>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="c-gray-light strong-600">Nombre d'invités</span>
                                    </td>
                                    <td>
                                        <%= @event.invited %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="c-gray-light strong-600">Apporter à boire</span>
                                    </td>
                                    <td>
                                        <%if @event.drink == true %> Oui <%else%> Non <% end %>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="c-gray-light strong-600">Apporter des apéritifs</span>
                                    </td>
                                    <td>
                                        <%if @event.food == true %> Oui <%else%> Non <% end %>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="c-gray-light strong-600">Fumeur</span>
                                    </td>
                                    <td>
                                        <%if @event.smoke == true %> Oui <%else%> Non <% end %>

                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <hr>
                        <!-- Quantity + Add to cart -->

                        <% if @date > Time.now %>

                            <% if current_user != nil %>


                                    <% if current_user.id == @event.user_id %>

                                            <div class="d-table product-quantity width-100 mt-3">  
                                                <div class="d-none d-lg-inline-block">
                                                    <%= link_to "C'est ton événement!", "/#", class: 'btn btn-styled btn-sm btn-base-1 text-uppercase btn-circle' %>
                                                </div>
                                            </div>




                                    <% elsif @event.users.count == @event.invited %>
                                            <div class="d-table product-quantity width-100 mt-3">  
                                                <div class="d-none d-lg-inline-block">
                                                    <%= link_to "Désolé, l'événement est complet!", "/#", class: 'btn btn-styled btn-sm btn-base-1 text-uppercase btn-circle' %>
                                                </div>
                                            </div>

                                    <% else %>

                                            <div class="d-table product-quantity width-100 mt-3">  
                                                <div class="d-none d-lg-inline-block">
                                                <%= link_to "Participe à l'évènement chez #{User.find(@event.user_id).firstname}!", welcome_path(@event.id), class: 'btn btn-styled btn-sm btn-base-1 text-uppercase btn-circle' %>
                                               </div>
                                          </div>                     

                                    <% end %>

                             <% else %>

                                <div class="d-table product-quantity width-100 mt-3">  
                                        <div class="d-none d-lg-inline-block">
                                            <%= link_to "Inscris toi pour participer à l'évènement chez #{User.find(@event.user_id).firstname}!", new_user_registration_path, class: 'btn btn-styled btn-sm btn-base-1 text-uppercase btn-circle' %>
                                        </div>
                                    </div>

                            <% end %>

                        <% else %>
                                <div class="d-table product-quantity width-100 mt-3">  
                                    <div class="d-none d-lg-inline-block">
                                        <%= link_to "Tu as participé à l'évenement? laisse un commentaire", note_path(@event.id), class: 'btn btn-styled btn-sm btn-base-1 text-uppercase btn-circle' %>
                                    </div>
                                </div>
                        <% end %>

                </div>
                <div class="mt-3">
                    <% if @connected == @creator %>
                        <%= link_to 'Modifier', edit_event_path(@event) %>
                    <% end %> | <%= link_to 'Retour', events_path %>
                </div>
                
            </div>
            

        </div>
    </div>
</div>
</div>

</div>
</div>
</section>


