<p>Salut <%= @creator.firstname %> et <%= @demandor.firstname %></p>
<p>Vous allez pouvoir mater le match <%= @home %> VS  <%= @visiting %> chez <%= @creator.firstname %> </p>
<p>On vous laisse vous contacter</p>
<ul>
	<li>Numero de <%= @creator.firstname %> = <%= @creator.phone_number %> ou <%= @creator.email %></li>
	<li>Numero de <%= @demandor.firstname %> = <%= @demandor.phone_number %> ou <%= @demandor.email %></li>
</ul>