<h1>Bonjour <%= @creator.firstname %> et <%= @demandor.firstname %></h1>
<p> Préparez vous car vous allez pouvoir mater le match <%= @home %> VS  <%= @visiting %> chez <%= @creator.firstname %> </p>
<br>
<p>On compte bien évidemment sur vous pour donner le meilleur et supporter votre équipe à 100%. On vous laisse vous contacter pour définir les détails ensemble.</p>
<p>Souvenez vous qu'une fois l'événement déroulé, vous devrez noter votre hôte et son accueil. </p>
<ul>
	<li>Numero de <%= @creator.firstname %> = <%= @creator.phone_number %> ou <%= @creator.email %></li>
	<li>Numero de <%= @demandor.firstname %> = <%= @demandor.phone_number %> ou <%= @demandor.email %></li>
</ul>
<br>
<p>Nous espérons que votre expérience sur notre site web vous a plu et vou souhaitons une excellente Coupe du Monde ! A très bientôt pour un prochain événement sportif </p>	
