<table class="body-wrap">
    <tr>
        <td class="container">

            <!-- Message start -->
            <table>
                <tr>
                    <td align="center" class="masthead">

                        <h1>The football project</h1>

                    </td>
                </tr>
                <tr>
                    <td class="content">

                        <h2>Bonjour, <%= @creator.firstname %>!</h2>

                        <p><%= @demandor.firstname %> <%= @demandor.lastname %>, un autre grand fan de foot, aimerait venir mater le match <%= Game.find(@event.game_id).home_team.name%> VS <%= Game.find(@event.game_id).visiting_team.name%> chez toi.</p>
                        <p>Voici sa note moyenne sur notre site est de <%= @notemoyenne %>/5.</p>

						<% if @demandor.reviews.count >= 1 %> 
						<p>Voici les derniers avis qu'il a reçu :</p>
						<ul> 
							<li><%= @firstreview %></li>
							<li><%= @secondreview %></li>
						</ul>
						<%else%>
						<%end%>

                        <table>
                            <tr>
                                <td align="center">
                                    <p>
                                        <a href="https://thefootballproject.herokuapp.com/validation/<%=@demandor.id%>?event=<%=@event.id%>" class="button">Clique ici pour valider</a>
                                    </p>
                                </td>
                            </tr>
                        </table>

                        <p>Merci d'avoir organisé un événement sur notre plateforme, nous espérons que l'expérience te plaira et te disons à bientôt pour un nouvel événement !</p>

                        <p><em>– Mr. Football Project</em></p>

                    </td>
                </tr>
            </table>

        </td>
    </tr>
    <tr>
        <td class="container">

            <!-- Message start -->
            <table>
                <tr>
                    <td class="content footer" align="center">
                        <p><a href="https://thefootballproject.herokuapp.com/">The football Project</a></p>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>
