
<h1 style="text-align: center; font-size: 80px">The Football Project</h1>


<div class="ftb-tabs-wrap">
    <!--// MAIN TABS NAV //-->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a class="hire" href="/jeux#matchs" aria-controls="homeone" role="tab" data-toggle="tab">Matchs</a></li>
        <li role="presentation"><a class="hire" href="/jeux/classement" aria-controls="profileone" role="tab" data-toggle="tab">Classement</a></li>
        <li role="presentation"><a  class="hire" href="/jeux/actu" aria-controls="messagesone" role="tab" data-toggle="tab">Actu</a></li>
    </ul>
    <!--// MAIN TABS NAV //-->
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="homeone">
            <!--// MAIN TABS TABLE //-->
            <ul class="ftb-main-table">
                <% @games.each do |game| %>
                <li>
                    <div class="ftb-date">
                        <%= game.date %>
                    </div>
                    <div class="ftb-compitatev">
                        <div class="compitatev-team1">
                            <img src="<%= game.home_team.flag %>" alt="flag">
                            <a href="#"><%= game.home_team.name %></a>
                        </div>
                        <div class="compitatev-team1 compitatev-team2">
                            <a href="#"><%= game.visiting_team.name %></a>
                            <img src="<%= game.visiting_team.flag %>" alt="">
                        </div>
                    </div>
                    <div class="ftb-ticket"><a class="hire" href="/events/new">Créer un évent</a></div>
                </li>
                <% end %>
            </ul>
            <!--// MAIN TABS TABLE //-->
        </div>
    </div>
</div>

<%= select("game.id", "game.date", Game.all.collect {|p| [ p.date, p.id ] }, {prompt: 'Selectioner une date'}) %>
<%= select("game.id", "game.date", Game.all.collect {|p| [ p.home_team.name, p.id ] }, {prompt: 'Selectioner une équipe'}) %>




