<!DOCTYPE html>
<html>
  <head>
    <title>FootballProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<meta name="google-site-verification" content="200oIhO9-r2iwGyy9pKZf3eX0q0_tve1fAOjLKhib3E" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800|Roboto:400,500,700" rel="stylesheet"> 
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<!-- Favicon -->
<link href="../../assets/images/favicon.png" rel="icon" type="image/png">

  </head>

  <body>
    <%= yield %>
  </body>
</html>
